.application-tariffs {
  position: relative;
  width: 320px;
  min-height: 375px;
  background-color: #f2f2f2;
}

.application-tariffs__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .application-tariffs {
    width: 620px;
    padding: 0 20px;
  }

  .application-tariffs__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .application-tariffs {
    width: 960px;
    padding: 0 120px;
  }
}
