.application-download {
  width: 320px;
  background-color: #1d2631;
}

.application-download__image-container {
  margin-bottom: 28px;
  height: 396px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 100%;
}

.image-container__application-image {
  width: 320px;
  height: 396px;
}

@media (min-width: $tablet-width) {
  .application-download {
    display: flex;
  }

  .application-download__image-container {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .application-download {
    justify-content: space-between;
    width: 960px;
    padding: 0 120px;
  }
}
