.application-features {
  position: relative;
  width: 280px;
}

.main-page .application-features {
  margin-bottom: 40px;
}

.application-features__lead-block {
  width: 280px;
  padding: 0 20px;
  background-color: #ffffff;
}

.application-features__title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.application-features__supplementing-title {
  display: block;
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.application-features__wrapper {
  position: relative;
  overflow: hidden;
  width: 280px;
  padding: 0 20px;
  padding-top: 40px;
  background-color: #f2f2f2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 320px;
    height: 32px;
    background-image: linear-gradient(to left top, #f2f2f2 50%, #ffffff 50%);
  }
}

.application-features__list {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
}

.application-features__item {
  position: relative;
  margin-bottom: 30px;
}

.application-features__item--new-friends {
  padding-bottom: 270px;
  &::after {
    content: "";
    position: absolute;
    left: 22%;
    top: 145px;
    display: block;
    width: 157px;
    height: 330px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}

.application-features__sub-title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.application-features__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

// .application-features__tablet-space {
//   display: none;
// }

@media (min-width: $tablet-width) {
  .application-features {
    width: 660px;
  }

  .application-features__lead-block {
    width: 620px;
    padding: 0 20px;
    text-align: center;
  }

  .application-features__title {
    margin-top: 57px;
    margin-bottom: 51px;
  }

  .application-features__supplementing-title {
    position: absolute;
    top: 8px;
    left: 154px;
    width: 350px;
    font-size: 40px;
    line-height: 50px;
  }

  .application-features__item {
    position: relative;
  }

  .application-features__item--new-friends {
    padding-bottom: 0;
    &::after {
      content: "";
      position: absolute;
      left: -250px;
      top: -320px;
      display: block;
    }
  }

  .application-features__title {
    padding-bottom: 100px;
    font-size: 40px;
  }

  .application-features__wrapper {
    display: flex;
    width: 620px; //320
    // margin-left: 280px;
    padding: 0 20px;
    &::before {
      width: 660px;
      height: 55px;
    }
  }

  .application-features__list {
    width: 310px;
    margin-top: 55px;
    margin-left: 310px;
    padding: 0;
  }

  .application-features__item {
    margin-bottom: 35px; //35
  }

  .application-features__item:nth-child(2) { //разница в макете
    margin-bottom: 32px;
  }

  .application-features__item:nth-child(3) {
    margin-bottom: 40px;
    .application-features__sub-title {
      width: 225px;
      padding-left: 25px;
    }

    .application-features__description {
      width: 240px;
      padding-left: 20px;
    }
  }

  .application-features__sub-title {
    text-align: left;
  }

  .application-features__description {
    text-align: left;
  }

  // .application-features__tablet-space {
  //   display: inline;
  // }
}

@media (min-width: $desktop-width) {
  .application-features {
    width: 960px;
    min-height: 855px;
  }

  .main-page .application-features {
    margin-bottom: 0;
  }

  .application-features__lead-block {
    width: 960px;
    margin-bottom: 115px;
    padding: 0 120px;
  }

  .application-features__title {
    margin-top: 80px;
    font-size: 50px;
  }

  .application-features__supplementing-title {
    width: 420px;
    top: 19px;
    left: 390px;
    font-size: 50px;
    line-height: 60px;
  }

  .application-features__wrapper {
    width: 960px;
    margin-left: 0;
    padding: 0 120px;
    &::before {
      width: 1200px;
      height: 96px;
    }
  }

  .application-features__list {
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin-left: 0;
  }

  .application-features__item {
    width: 280px;
    margin-top: 272px;
    margin-bottom: 0;
  }

  .application-features__sub-title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .application-features__description {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .application-features__item--raising-mood {
    .application-features__description {
      width: 242px;
      padding-left: 20px;
    }
  }


  .application-features__item--new-friends {
    &::after {
      content: "";
      position: absolute;
      top: -327px;
      left: -4px;
      display: block;
      width: 280px;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }

  .application-features__item--world-changing {
    &::after {
      content: "";
      position: absolute;
      top: -327px;
      left: -4px;
      display: block;
      width: 280px;
      height: 330px;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
    }

    .application-features__description {
      width: 230px;
      padding-left: 25px;
    }
  }

  .application-features__item--raising-mood {
    &::after {
      content: "";
      position: absolute;
      top: -327px;
      left: -4px;
      display: block;
      width: 280px;
      height: 330px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }
}
