.application-features {
  background-color: #f2f2f2;
}

.application-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.application-features__sub-title {
  font-size: 18px;
  line-height: 24px;
}

.application-features__description {
  font-size: 14px;
  line-height: 24px;
}
