.competition-form {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.competition-form__element-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
}

.competition-form__form-group {
  background-color: #f2f2f2;
}

.competition-form__button {
  padding: 19px 48px 19px 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 5px;
}
