.competition-form {
  display: flex;
  flex-direction: column;
  width: 320px;
  // padding: 0 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.competition-form__top-wrapper {
  display: flex;
  flex-direction: column;
}

.competition-form__form-item--main-fields {
  order: 1;
  width: 280px;
  padding: 0 20px;
}

.competition-form__form-item--travel-report {
  width: 280px;
  min-height: 604px;
  margin-bottom: 10px;
  padding: 0 20px;
  order: 2;
  .competition-form__list-item {
    min-height: 40px;
    margin-bottom: 43px;
  }
}

.competition-form__form-item--contact-details {
  width: 280px;
  min-height: 278px;
  padding: 0 20px;
  order: 3;
}

.competition-form__form-item--used-application {
  width: 280px;
  min-height: 340px;
  margin-bottom: 35px;
  padding: 0 20px;
  order: 4;
}

.competition-form__form-item--application-impression {
  width: 280px;
  margin-bottom: 40px;
  padding: 0 20px;
  order: 5;
}

.competition-form__form-item--application-impression .competition-form__element-title--group-title {
  margin-bottom: 18px;
}

.competition-form__form-item--form-footer {
  width: 280px;
  padding: 0 20px;
  order: 6;
}

.competition-form__form-item--main-fields {
  margin-top: 17px;
  margin-bottom: 30px;
}

.competition-form__field-wrapper {
  margin-top: 0;
  margin-bottom: 13px;
}

.competition-form__form-item {
  // margin-bottom: 40px;
}

.competition-form__element-title {
  margin-left: 22px;
  padding-top: 2px;
  padding-bottom: 5px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
}

.competition-form__form-group {
    border: 0;
    // padding: 0;
    // margin: 0;
    min-width: 0;
}

.competition-form__element-title--group-title {
  display: table;
  // margin: 0;
  padding: 0;
  width: 100%;
  line-height: 18px;
  text-align: center;
}

.competition-form__form-item--travel-report .competition-form__element-title--group-title,
.competition-form__form-item--used-application .competition-form__element-title--group-title {
  padding: 0 20px;
  padding-top: 35px;
  padding-bottom: 48px;
  background-color: #f2f2f2;
}

.competition-form__form-item--used-application .competition-form__element-title--group-title {
  padding-bottom: 40px;
}

.competition-form__form-item--used-application,
.competition-form__form-item--travel-report {
  text-align: left;
  background-color: #f2f2f2;
}

.competition-form__text-field {
  box-sizing: border-box;
  width: 280px;
  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 14px;
  font-size: inherit;
  line-height: 30px;
}

.competition-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competition-form__item--travel-report:last-child {
  margin-bottom: 32px;
}

.competition-form__item--used-application {
  margin-bottom: 33px;
  min-height: 42px;
}

.competition-form__list-item { /////////////
  display: flex;
}

.competition-form__item-label {
  margin-left: 48px;
  order: 2;
}

.competition-form__text-field--textarea {
  box-sizing: border-box;
  width: 280px;
  min-height: 200px;
}

.competition-form__button {
  width: 280px;
  margin-bottom: 35px;
  padding: 15px 45px 15px 45px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
}

.competition-form__additional-description {
  display: none;
}

.competition-form__form-explanation {
  margin: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.competition-form__no-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .competition-form {
    display: flex;
    flex-direction: column;
    width: 620px;
    padding: 0 20px;
  }

  .competition-form__no-mobile {
    display: block;
  }

  .competition-form__text-field {
    width: 100%;
  }

  .competition-form__form-group { // возвращение дефолтных стилей групп формы
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  .competition-form__element-title--group-title {  // возвращение дефолтных стилей заголовков гурпп
    width: auto;
    padding: 0;
    background-color: #ffffff;
  }

  .competition-form__field-wrapper {
    display: flex;
    margin-bottom: 52px;
    .competition-form__element-title {
      padding-top: 18px;
    }
  }

  .competition-form__form-item--main-fields {
    order: 1;
    width: 620px;
    margin-top: 70px;
    margin-bottom: 2px;
    padding: 0;
  }

  .competition-form__element-title {
    margin-left: 0;
  }

  .competition-form__form-item--travel-report {
    order: 4;
    width: 620px;
    min-height: 555px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    .competition-form__element-title--group-title {
      padding: 0;
      background-color: #ffffff;
    }
  }

  .competition-form__list--travel-report {
    padding-top: 50px;
    padding-left: 50px;
  }

  .competition-form__form-item--contact-details {
    width: 500px;
    min-height: 315px;
    margin: 0;
    margin-bottom: 55px;
    padding: 0 60px;
    order: 3;
  }

  .competition-form__contacts-wrapper {
    display: flex;
    width: 500px;
    flex-direction: column;
    padding-top: 37px;
  }

  .competition-form__contacts-item {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 28px;
    .competition-form__text-field {
      order: 1;
    }

    .competition-form__element-title {
      order: 2;
      padding: 0;
      padding-left: 18px;
      padding-top: 10px;
    }
  }

  .competition-form__form-item--used-application {
    width: 620px;
    min-height: 305px;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    order: 2;
    .competition-form__element-title--group-title {
      padding: 0;
      background-color: #ffffff;
    }
  }

  .competition-form__list--used-application {
    padding-top: 52px;
  }

  .competition-form__item--used-application {
    margin-bottom: 36px;
  }

  .competition-form__form-item--application-impression {
    order: 5;
    width: 500px;
    margin: 0;
    margin-bottom: 67px;
    padding: 0 58px;
    padding-top: 20px;
    padding-bottom: 42px;
  }

  .competition-form__text-field--textarea {
    width: 500px;
    min-height: 190px;
  }

  .competition-form__form-item--form-footer {
    order: 6;
    width: 620px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .competition-form__button {
    box-sizing: content-box;
    width: 185px;
    padding: 17px 55px 17px 58px;
    border: 0;
  }

  .competition-form__field-wrapper .competition-form__text-field {
    flex-grow: 1;
  }

  .competition-form__field-wrapper .competition-form__element-title {
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    padding: 0 120px;
  }

  .competition-form__contacts-wrapper {
    width: 820px;
    padding: 0 60px;
  }

  .competition-form__contacts-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 310px;
  }

  .competition-form__contacts-item .competition-form__text-field {
    width: 310px;
    box-sizing: border-box;
  }

  .competition-form__form-item--main-fields {
    width: 450px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 25px;
  }

  .competition-form__form-item--used-application {
    margin-top: 70px;
    margin-left: 28px;
    width: 443px;
  }

  .competition-form__form-item--contact-details {
    width: 940px;
    min-height: 168px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .competition-form__contacts-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .competition-form__contacts-item {
    margin: 0;
    margin-top: 35px;
    width: 375px;
    .competition-form__text-field {
      order: 2;
    }

    .competition-form__element-title {
      order: 1;
    }
  }

  .competition-form__form-item--travel-report {
    width: 940px;
    min-height: 235px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }

  .competition-form__list--travel-report {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    text-align: left;
  }

  .competition-form__item--travel-report {
    width: auto;
    margin-right: 55px;
    box-sizing: border-box;
    .competition-form__item-label {
      margin-left: 39px;
    }
  }

  .competition-form__form-item--travel-report .competition-form__tower,
  .competition-form__form-item--travel-report .competition-form__massacre {
    margin-right: 0;
  }

  .competition-form__form-item--travel-report .competition-form__on-beach {
    margin-right: 95px;
  }

  .competition-form__form-item--travel-report .competition-form__souvenirs {
    margin-right: 62px;
  }

  .competition-form__form-item--application-impression {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 18px;
    padding-bottom: 38px;
    width: 940px;
  }

  .competition-form__text-field--textarea {
    width: 820px;
    min-height: 123px;
  }

  .competition-form__form-item--form-footer {
    width: 940px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .competition-form__additional-description {
    display: inline;
  }

  .competition-form__selfie {
    order: 1;
  }

  .competition-form__chuck-norris {
    order: 2;
  }

  .competition-form__tower {
    order: 3;
  }

  .competition-form__on-beach {
    order: 4;
  }

  .competition-form__souvenirs {
    order: 5;
  }

  .competition-form__massacre {
    order: 6;
  }
}
