.competition-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.competition-form__top-wrapper {
  display: flex;
  flex-direction: column;
}

.competition-form__form-item--main-fields {
  order: 1;
}

.competition-form__form-item--travel-report {
  order: 2;
}

.competition-form__form-item--contact-details {
  order: 3;
}

.competition-form__form-item--used-application {
  order: 4;
}

.competition-form__form-item--application-impression {
  order: 5;
}

.competition-form__form-item--form-footer {
  order: 6;
}

.competition-form__form-item {
  margin-bottom: 40px;
}

.competition-form__element-title {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
}

.competition-form__form-group {
  text-align: center;
  background-color: #f2f2f2;
}

.competition-form__text-field {
  padding: 20px;
}

.competition-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competition-form__form-item--contact-details {
  background-color: #ffffff;
}

.competition-form__form-item--application-impression {
  background-color: #ffffff;
}

.competition-form__text-field--textarea {
  box-sizing: border-box;
  width: 280px;
  min-height: 197px;
}

.competition-form__button {
  padding: 19px 48px 19px 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border-radius: 5px;
}

@media (min-width: $tablet-width) {
  .competition-form {
    display: flex;
    flex-direction: column;
    width: 620px;
    padding: 0 20px;
  }

  .competition-form__field-wrapper {
    display: flex;
  }

  .competition-form__form-item--main-fields {
    order: 1;
  }

  .competition-form__form-item--travel-report {
    order: 4;
  }

  .competition-form__form-item--contact-details {
    order: 3;
  }

  .competition-form__form-item--used-application {
    order: 2;
  }

  .competition-form__form-item--application-impression {
    order: 5;
  }

  .competition-form__text-field--textarea {
    width: 495px;
  }

  .competition-form__form-item--form-footer {
    order: 6;
    display: flex;
    justify-content: space-between;
  }

  .competition-form__field-wrapper .competition-form__text-field {
    flex-grow: 1;
  }

  .competition-form__field-wrapper .competition-form__element-title {
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    padding: 0 120px;
  }

  .competition-form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 820px;
    padding: 0 60px;
  }

  .competition-form__contacts-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 310px;
  }

  .competition-form__contacts-item .competition-form__text-field {
    width: 310px;
    box-sizing: border-box;
  }

  .competition-form__form-item--main-fields {
    width: 450px;
    margin-right: 25px;
  }

  .competition-form__form-item--used-application {
    width: 450px;
  }

  .competition-form__form-item--travel-report {
    width: 820px;
    padding: 0 60px;
  }

  .competition-form__list--travel-report {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .competition-form__item--travel-report {
    width: 260px;
    box-sizing: border-box;
  }

  .competition-form__form-item--application-impression {
    width: 940px;
  }

  .competition-form__text-field--textarea {
    width: 820px;
  }

  .competition-form__form-item--form-footer {
    width: 940px;
  }

  .competition-form__selfie {
    order: 1;
  }

  .competition-form__chuck-norris {
    order: 2;
  }

  .competition-form__tower {
    order: 3;
  }

  .competition-form__on-beach {
    order: 4;
  }

  .competition-form__souvenirs {
    order: 5;
  }

  .competition-form__massacre {
    order: 6;
  }
}
