.download-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  padding: 0 20px;
  background-color: #1d2631;
}

.download-section__slogan {
  display: none;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
}

.download-section__button {
  display: block;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
}

.download-section__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.download-section__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .download-section__slogan {
    display: block;
  }

  .download-section {
    order: 1;
  }
}
