.download-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  padding: 0 20px;
  background-color: #1d2631;
}

.download-section__slogan {
  display: none;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
}

.download-section__button {
  display: block;
  margin-bottom: 32px;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
}

.download-section__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 17px;
  padding: 0;
  width: 210px;
  list-style: none;
}

.download-section__item {
  display: flex;
  align-items: flex-end;
  width: 50px;
  height: 60px;
}

.download-section__item-link {
  display: inline-block;
  margin: auto 0;
}

.download-section__item-link--ios-market {
  width: 47px; //47
  height: 56px; //56
  background-image: url("../img/logo-apple.svg");
  background-position: 50% 50%;
}

.download-section__item-link--android-market {
  width: 43px;
  height: 47px;
  background-image: url("../img/logo-android.svg");
  background-position: 50% 50%;
}

.download-section__item-link--windows-market {
  width: 44px;
  height: 41px;
  background-image: url("../img/logo-microsoft.svg");
  background-position: 50% 50%;
}

.download-section__description {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .download-section__slogan {
    display: block;
  }

  .download-section {
    order: 1;
  }
}
