.effect-duration {
  display: none;
}

.effect-duration__tablet-space {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect-duration {
    position: relative;
    display: block;
    width: 620px;
    padding: 0 20px;
    &::before {
      content: "";
      position: absolute;
      top: -35px;
      left: 20px;
      width: 238px;
      height: 276px;
      display: block;
      background-image: url("../img/icon-timer-red.svg");
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 20px;
      left: 30px;
      width: 189px; //202
      height: 189px; //202
      border: 13px solid #d22856;
      border-radius: 50%;
    }
  }

  .effect-duration__content-block {
    width: 310px;
    margin-top: 95px;
    margin-bottom: 110px;
    margin-left: 310px;
  }

  .effect-duration__title {
    width: 170px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect-duration__tablet-space {
    display: block;
  }

  .effect-duration__description {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .effect-duration__link {
    font-size: 14px;
    text-decoration: underline;
    color: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .effect-duration {
    width: 960px;
    padding: 0 120px;
    background-color: #f2f2f2;
  }

  .effect-duration__title {
    width: 420px;
  }

  .effect-duration__content-block {
    width: 570px;
  }
}
