.feedback {
  position: relative;  //test
  width: 280px;
  padding: 0 20px;
  background-color: #ffffff;
}

.feedback-contacts {
  margin-top: 42px;
}

.support-adress__message {
  display: block;
  text-align: center;
}

.support-adress__feedback-method {
  display: block;
  text-align: center;
}

.feedback__titel {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.feedback__sub-titel {
  display: block;
  text-align: center;
}

.feedback__developer-location {
  position: absolute;
  left: 0;
  width: 320px;
  height: 200px;
  overflow: hidden;
  &::before {
    content: "";
    z-index: 3;
    position: absolute;
    top: 115px;
    left: 142px;
    display: block;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-map-marker.svg");
  }
}

.feedback__developer-location img {  //test
  z-index: 1;
  position: absolute;
  left: 1px;
  top: -425px;
  width: 100%;
}

.feedback__developer-location svg {
  z-index: 2;
  position: absolute;
  top: -70px;
  left: -440px;
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 620px;
    height: 772px;
    // margin-bottom: 470px; //test
    padding: 0 20px;
  }

  .feedback__titel {
    margin-bottom: 50px;
    padding-top: 15px;
    font-size: 40px;
  }

  .feedback__sub-titel {
    padding-top: 18px;
  }

  .feedback__developer-location {
    top: 365px;
    width: 660px;
    height: 376px;
  }

  .feedback__developer-location svg {
    top: -57px;
    left: -274px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 960px;
    margin-bottom: 100px; //test
    padding: 0 120px;
  }

  .feedback__titel {
    margin-top: 62px;
    margin-bottom: 70px;
    font-size: 50px;
  }

  .feedback__sub-titel {
    margin-top: 12px;
  }

  .feedback__developer-location {
    top: 305px;
    width: 1200px;
    min-height: 502px;
  }

  .feedback__developer-location svg {
    top: -20px;
    left: 1px;
  }
}
