.main-nav {
  background-color: #283645;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 15px 0 15px 0;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    width: 620px;
    background-color: rgba(0, 0, 0, 0);
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 650px;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .main-nav__link {
    text-transform: none;
    vertical-align: middle;
  }
}
