.main-footer__glasses-logo {
  margin-bottom: 35px;
}

.main-footer__footer-social {
  margin-bottom: 35px;
}

.main-footer__developer-block {
  width: 130px;
  display: flex;
  margin-bottom: 40px;
  svg {
    margin-top: 5px;
    margin-left: 13px;
  }
}

.main-footer__social-link {
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.main-footer__social-link--twitter {
  background-image: url("../img/icon-twitter-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer__social-link--facebook {
  background-image: url("../img/icon-facebook-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer__social-link--youtube {
  background-image: url("../img/icon-youtube-red.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-main + .main-footer {
  display: none;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 280px;
  padding: 0 20px;
  padding-top: 55px;
}

.main-footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__developer-block {
  display: flex;
  align-items: center;
}

.main-footer__developer-service {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .page-main + .main-footer {
    display: flex;
  }

  .main-footer {
    // justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 620px;
    min-height: 90px;
    padding: 0 20px;
    // padding-bottom: 37px;
  }

  .main-footer__glasses-logo {
    margin-right: 73px;
  }

  .main-footer__footer-social {
    margin-right: 90px;
    padding-top: 5px;
  }

  .main-footer__developer-block {
    width: 130px;
    padding-top: 15px;
  }

  .main-footer__developer-service {
    margin-right: 15px;
  }

  .main-footer__social-link {
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
  }

  .main-footer__social-link--twitter {
    background-image: url("../img/icon-twitter-red.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .main-footer__social-link--facebook {
    background-image: url("../img/icon-facebook-red.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .main-footer__social-link--youtube {
    background-image: url("../img/icon-youtube-red.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: 960px;
    margin: 0 120px;
    padding: 0 10px;
  }

  .main-footer__glasses-logo {
    margin-right: 230px;
  }

  .main-footer__footer-social {
    margin-right: 230px;
  }

  .main-footer__developer-block {
    width: 155px;
  }

  .main-footer__developer-service {
    font-size: 18px;
  }
}
