.main-header {
  display: block;
  width: 320px;
  background-color: #1d2631;
}

.main-header__contents-description {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.main-header__top-menu {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 22px 19px 25px 20px;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: $tablet-width;
  }
  .main-header__top-menu {
    width: 620px;
  }
  .main-header__contents-description {
    width: 510px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    align-items: center;
    width: 960px;
    padding: 0 120px;
    background-color: rgba(20, 28, 35, 0.3);
  }
  .main-header__toggle {
    display: none;
  }
}
