.page-description {
  margin-top: 47px;
  width: 280px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
}

.page-description__no-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-description {
    width: 492px;
    margin: 0 auto;
    margin-top: 94px;
    font-size: 18px;
  }

  .page-description__no-mobile {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .page-description {
    width: 820px;
    padding: 0 190px;
  }
}
