.slider-toggles__toggle {
  box-sizing: content-box;
  padding: 0;
  width: 6px;
  height: 5px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  background-color: #bec2c7;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider-toggles__toggle--active {
  background-color: transparent;
  border: 3px solid #283645;
}
