.support-adress {
  margin: 0;
  padding: 0;
  list-style: none;
}

.support-adress__item {
  margin-bottom: 17px;
}

.support-adress__item:nth-child(2) { //так как в макете разные вертикальные отступы у элементов списка
  margin-bottom: 20px;
}

.support-adress__message {
  font-size: 18px;
  color: #283645;
}

.support-adress__feedback-method {
  font-size: 24px;
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .support-adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .support-adress__item {
    width: 300px;
    margin-bottom: 50px;
  }
}
