.tariffs-table {
  border-collapse: collapse;
  border: 1px solid transparent;
}

.tariffs-table__table-header {
  background-color: #283645;
}

.tariffs-table__tariff-name {
  padding-top: 19px;
  width: 276px;
  border-left: 2px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.tariffs-table__tariff-name--hit-sales {
  position: relative;
  overflow: hidden;
  &::before {
    content: "Хит";
    position: absolute;
    width: 120px; //74
    top: 80px;
    left: 5px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-45deg) translateX(-10px) translateY(-40px);
    transform-origin: 0 0;
    background-color: #d22856;
    color: #ffffff;
  }
}

.tariffs-table__tariff-cost {
  padding-bottom: 17px;
  width: 276px;
  border-left: 2px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.tariffs-table__transparent-cell {
  background-color: #f2f2f2;
  border: none;
}

.tariffs-table__no-mobile {
  opacity: 0;
}

.tariffs-table__option {
  width: 275px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.tariffs-table__option-name {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.tariffs-table__option-status {
  display: block;
  width: 31px;
  height: 21px;
}

.tariffs-table__option-status--on {
  background-image: url("../img/icon-yes.svg");
}

@media (min-width: $tablet-width) {
  .tariffs-table__no-mobile {
    width: 155px;
    padding: 15px;
    font-size: 14px;
    line-height: 30px;
    // border-left: 2px solid #e5e5e5;
    // border-top: 2px solid #e5e5e5;
    // border-bottom: 2px solid #e5e5e5;
    color: #283645;
    opacity: 1;
  }

  .tariffs-table__option-name {
    display: none;
  }
}
