.post-image {
  width: 280px;
  padding: 0 20px;
  text-align: center;
}

.post-image--top-day {
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-align: left;
}

.post-image--top-day img {
  width: 320px;
  height: 137px;
}

.user-post__post-content {
  width: 280px;
  margin: 0 20px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #f2f2f2;
}

.user-post__author-name {
  font-style: normal;
  font-weight: 700;
}

.user-post__post-time {
  font-size: 12px;
}

.user-post__likes-number {
  font-size: 12px;
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .user-post--top-day .user-post__post-content {
    width: 570px;
  }
  .user-post {
    width: 300px;
    padding: 0;
  }
  .user-post--top-day {
    width: 100%;
  }
  .user-post--top-day .user-post__post-content {
    width: 570px;
  }
  .post-image--top-day img {
    width: 700px;
    height: 509px;
  }
}

@media (min-width: $desktop-width) {
  .user-post--top-day .user-post__post-content {
    width: 880px;
    margin-bottom: 50px;
  }
  .post-image--top-day img {
    width: 1200px;
    height: 506px;
  }
}
