.users-posting {
  position: relative;
  width: 280px;
  padding-top: 382px;
}

@media (min-width: $tablet-width) {
  .users-posting {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    padding-top: 680px;
  }
}

@media (min-width: $desktop-width) {
  .users-posting {
    width: 960px;
    padding: 0 120px;
  }
}
