.users-feedback {
  width: 280px;
}

.users-feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.users-feedback__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.users-feedback__feedback-content {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
