.users-feedback {
  width: 280px;
}

.users-feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.users-feedback__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.users-feedback__author-character {
  display: none;
}

.users-feedback__feedback-content {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.users-feedback__toggles {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .users-feedback {
    width: 620px;
    padding: 0 20px;
  }

  .users-feedback__item {
    display: flex;
    flex-direction: column;
  }

  .users-feedback__feedback-content {
    order: 1;
  }

  .users-feedback__author-name {
    order: 2;
  }

  .users-feedback__author-character {
    display: block;
    order: 2;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .users-feedback {
    width: 960px;
    padding: 120px;
  }

  .users-feedback__toggles {
    display: none;
  }

  .users-feedback__quote-wrapper {
    display: flex;
    width: 940px;
  }

  .users-feedback__feedback-content {
    width: 720px;
    text-align: center;
  }

  .users-feedback__item {
    width: 960px;
  }

  .users-feedback__button-prev {
    order: 1;
  }

  .users-feedback__button-next {
    order: 3;
  }
}
